<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreedyService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IHueresticService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IGreedyService1" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IHueresticService1" sendTimeout="00:05:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63841/GreedyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreedyService"
                contract="GreedyReference.IGreedyService" name="BasicHttpBinding_IGreedyService" />
            <endpoint address="http://localhost:59849/HeuresticService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHueresticService"
                contract="HeuresticReference.IHueresticService" name="BasicHttpBinding_IHueresticService" />
            <endpoint address="http://algloadbalancer-613691051.us-east-1.elb.amazonaws.com/GreedyService/GreedyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreedyService1"
                contract="ALBgreedy.IGreedyService" name="BasicHttpBinding_IGreedyService1" />
            <endpoint address="http://algloadbalancer-613691051.us-east-1.elb.amazonaws.com/HueresticService/HeuresticService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHueresticService1"
                contract="ALBheurestic.IHueresticService" name="BasicHttpBinding_IHueresticService1" />
        </client>
    </system.serviceModel>

	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="1000"/>
		</connectionManagement>
	</system.net>
</configuration>
